@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/orange-color-bg.png");
    height: 100vh;
    background-size: cover;
    margin:10px;
}

.image-container {
    padding: 20px;
    border: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.heading {
    padding: 10px;
    color: white;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
}

.button {
    width: 100px;
    height: 25px;
    color: #ff8348;
    border-radius: 10px;
    border-width: 0px;
}

.paragraph {
    font-size: 10px;
    font-family: "Roboto";
    color: white;
}

.image {
    height: 60px;
    width: 50px;
    border: 20px;
}