@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: #894bca;
    height: 100%;
    background-size: cover;
}

.stores-top-section {
    background-color: #894bca;
    padding: 15px;
    color: blue;
}

.stores-image {
    height: 185px;
    width: 168px;
    margin-left: auto;
}

.select-store-container {
    background-color: #ffffff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 20px;
}

.stores-image {
    color: #f780c3;
    font-family: "Bree serif";
    font-size: 20px;
    font-weight: bold;
}

.stores-image {
    color: #ffffff;
    height: 30px;
    padding: 20px;
}

.stores-image {
    color: #323f4b;
    font-family: "Bree serif";
    font-size: 20px;
}

.stores-image {
    color: #7b8794;
    font-size: 20px;
    font-weight: bold;
}