@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.explore-section {
    background-color: #f5f7fa;
}

.explore-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.explore-card {
    background-color: #ffffff;
    border-radius: 8px;
}

.explore-card-image-container {
    padding: 10px;
}

.explore-card-image {
    width: 100%;
    border-radius: 20px;
}

.explore-card-title {
    color: #183b56;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
}

.explore-card-product-title {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 16px;
    margin-top: 10px;
}

.explore-card-link {
    color: #ff9f00;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
}