@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.ecommerce-footer-section {
    background-color: #0d2436;
}

.ecommerce-logo {
    width: 163px;
    height: 56px;
}

.ecommerce-footer-section-icon-container {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 15px;
    background-color: #152c3e;
    margin-right: 8px;
    margin-bottom: 8px;
}

.icon {
    color: #5a7184;
    font-size: 18px;
}

.ecommerce-footer-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}

.ecommerce-footer-section-heading {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
}

.ecommerce-footer-section-list {
    list-style-type: none;
    padding-left: 0;
}

.ecommerce-footer-section-list-item {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}

.hr-line {
    background-color: #5a7184;
}

.ecommerce-footer-section-copyright {
    color: #959ead;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}