.card {
    background-image: url("https://assets.ccbp.in/frontend/responsive-website/landing-section-bg.png");
    background-color: #0c0521;
    text-align: center;
    background-size: cover;

}

.nav {
    background-color: #0c0521;

    .container {
        background-color: "0C0521";
        margin-left: auto;

    }
    .Offers{
        color:green;
    }

    .navbar {
        background-color: "0C0521";
        margin-left: "auto";
    }